KafkaProject/src/main/resources/data.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="/jaxb/gen" elementFormDefault="qualified">

    <xs:element name="Employee" type="Employee"/>

    <xs:complexType name="Employee">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="post" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
